@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new Machine</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name, null, new { @class="form" })
  @Html.TextBoxFor(model => model.Name, null, new { @class="form" })

  @Html.LabelFor(model => model.Status, null, new { @class="form" })
  @Html.TextBoxFor(model => model.Status, null, new { @class="form" })

  <input type="submit" value="Add new Machine" class="btn btn-success btn-xs" />
}
<p>@Html.ActionLink("Machine List", "Index", null, null, new { @class="button" })</p>