@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Status): @Html.DisplayFor(model => model.Status)</h3>

<br>

@if(@Model.Engineers.Count == 0)
{
  <h4>There are no Engineers qualified to work on this Machine...</h4>
}
else
{
  <h3>Engineers that are licensed to work on this Machine:</h3>
  <ul>
  @foreach(var join in Model.Engineers)
  {
    <li>@join.Engineer.Name</li>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)

      <input type="submit" value="Delete" class="btn btn-danger btn-xs"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Home", "Index", "Home", null, new { @class="button" })</p>
<p>@Html.ActionLink("Machine List", "Index", null, null, new { @class="button" })</p>
<p>@Html.ActionLink("Edit this Machine", "Edit", new { id = Model.MachineId }, new { @class="button" })</p>
<p>@Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.MachineId }, new { @class="button" })</p>
<p>@Html.ActionLink("Delete this Machine", "Delete", new { id = Model.MachineId }, new { @class="button" })</p>