@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h2>Edit</h2>

<h4>Edit this Machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.LabelFor(model => model.Name, null, new { @class="label" })
  @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class="input" } })

  @Html.LabelFor(model => model.Status, null, new { @class="label" })
  @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class="input" } })

  <input type="submit" value="Save" class="btn btn-success btn-xs" />
}

<p>@Html.ActionLink("Back to list", "Index", null, null, new { @class="button" })</p>